<div class="swiper-comp">
  <div class="swiper-comp__main">
    <nav class="swiper-comp__nav">
      <div class="swiper-comp__box">
        <a class="swiper-comp__link" href="#">America</a>
      </div>
      <div class="swiper-comp__box">
        <a class="swiper-comp__link" href="#">Sights</a>
      </div>
      <div class="swiper-comp__box">
        <a class="swiper-comp__link" href="#">Europe</a>
      </div>
    </nav>
    <div class="swiper-comp__container">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
          <div class="swiper-slide">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Thailand", price="$1,480") }}
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>
