<div class="swiper-comp">
  <div class="swiper-comp__main">
    <nav class="swiper-comp__nav">
      <div class="swiper-comp__box">
        <a class="swiper-comp__link swiper-comp__link_europe" href="#"
          >Europe</a
        >
      </div>
      <div class="swiper-comp__box">
        <a class="swiper-comp__link swiper-comp__link_sights" href="#"
          >Sights</a
        >
      </div>
      <div class="swiper-comp__box swiper-comp__box_active">
        <a class="swiper-comp__link swiper-comp__link_america" href="#"
          >America</a
        >
      </div>
    </nav>
    <div class="swiper-comp__container">
      <div class="swiper swiper_active mySwiper-europe">
        <div class="swiper-wrapper">
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
          <div class="swiper-slide europe">
            {{ card(modifired="",img="./images/card__europe.jpg", place="Phi Phi
            Islands", country="europe", price="$1,480") }}
          </div>
        </div>
      </div>
      <div class="swiper mySwiper-sights">
        <div class="swiper-wrapper">
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
          <div class="swiper-slide sights">
            {{ card(modifired="", img="./images/swiper__islands.png", place="Phi
            Phi Islands", country="Sights", price="$1,480") }}
          </div>
        </div>
      </div>
      <div class="swiper mySwiper-america">
        <div class="swiper-wrapper">
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
          <div class="swiper-slide america">
            {{ card(modifired="", img="./images/card__america.jpg",
            place="New-York", country="America", price="$2,200") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
