<aside class="aside">
  <div class="aside__width">
    <div class="swiper mySwiper4">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
        <div class="swiper-slide"><img src="./images/aside__image.png" /></div>
      </div>
      <div class="aside__swiper-next">{{svg("aside-chevron")}}</div>
      <div class="aside__swiper-prev">{{svg("aside-chevron")}}</div>
    </div>
    <h4 class="aside__title">25 Lakeland Terrace, Westland, Michigan, USA</h4>
    <div class="aside__wrapper">
      <p class="aside__apartment">Apartment | by Robbin Johnson</p>
      <input class="aside__input" type="checkbox" id="like" />
      <label class="aside__label">{{svg("aside-heart")}}</label>
    </div>
    <div class="aside__box">
      <div class="aside__button">{{svg("aside-list")}}</div>
      <div class="aside__button">{{svg("aside-loading")}}</div>
      <div class="aside__button">{{svg("aside-telegram")}}</div>
      <span class="aside__price">$ 2,900.00 </span>
    </div>
    <div class="aside__container">
      <span class="aside__property"
        >{{svg("aside-property")}}Used property</span
      >
      <span class="aside__places">{{svg("aside-bed")}}4</span>
      <span class="aside__square">{{svg("aside-comparsion")}}170 m2</span>
    </div>
    <div class="aside__map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d368.39251180235954!2d-82.90935922984738!3d42.38216198498697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1639756154964!5m2!1sru!2sru"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
    </div>
    <div class="photos">
      <div class="photos__box">
        <h5 class="aside__title">Photos</h5>
        <button class="chart__options">{{svg ("invite-tabs")}}</button>
      </div>
      <div thumbsSlider="" class="swiper thumbs">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/appartment.png" />
          </div>
          <div class="swiper-slide">
            <img src="./images/appartment2.png" />
          </div>
          <div class="swiper-slide">
            <img src="./images/appartment3.png" />
          </div>
          <div class="swiper-slide">
            <img src="./images/appartment4.png" />
          </div>
          <div class="swiper-slide">
            <img src="./images/appartment5.png" />
          </div>
          <div class="swiper-slide">
            <img src="./images/appartment6.png" />
          </div>
        </div>
      </div>
    </div>
    <button class="aside__button-close">{{svg("aside-chevron")}}</button>
  </div>
</aside>
