.svg-aside-bed {
  width: 1.35em;
  height: 1em;
  fill: #757575;
}
.svg-aside-chevron {
  width: 0.6em;
  height: 1em;
  fill: #fff;
}
.svg-aside-comparsion {
  width: 1em;
  height: 1em;
  fill: #757575;
}
.svg-aside-heart {
  width: 1.12em;
  height: 1em;
  fill: #3246D3;
}
.svg-aside-list {
  width: 1.09em;
  height: 1em;
  fill: #757575;
}
.svg-aside-loading {
  width: 0.92em;
  height: 1em;
  fill: #757575;
}
.svg-aside-property {
  width: 1.29em;
  height: 1em;
  fill: #757575;
}
.svg-aside-telegram {
  width: 0.87em;
  height: 1em;
  fill: #757575;
}
.svg-chart-fire {
  width: 1em;
  height: 1em;
  fill: #000;
}
.svg-header-burger {
  width: 1.29em;
  height: 1em;
  fill: initial;
}
.svg-header-search {
  width: 1em;
  height: 1em;
  fill: #000;
}
.svg-header-tune {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.svg-invite-tabs {
  width: 4em;
  height: 1em;
  fill: #3246D3;
}
.svg-invite__group {
  width: 1em;
  height: 1em;
  fill: #000;
}
.svg-ivite__close {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.svg-link-compass {
  width: 1em;
  height: 1em;
  fill: #9BAAD3;
}
.svg-link-home {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.svg-link-person {
  width: 1em;
  height: 1em;
  fill: #9BAAD3;
}
.svg-link-power {
  width: 1em;
  height: 1em;
  fill: #9BAAD3;
}
.svg-link-settings {
  width: 1em;
  height: 1em;
  fill: #9BAAD3;
}
.svg-link-union {
  width: 1em;
  height: 1em;
  fill: #9BAAD3;
}
.svg-swiper-chevron-small {
  width: 1em;
  height: 1em;
  fill: #000;
}
.svg-swiper__chevron {
  width: 0.5em;
  height: 1em;
  fill: #000;
}
.svg-swiper__compass {
  width: 1em;
  height: 1em;
  fill: #3E3C50;
}
.svg-swiper__icon {
  width: 0.65em;
  height: 1em;
  fill: #fff;
}
.svg-swiper__location {
  width: 0.8em;
  height: 1em;
  fill: #FF6647;
}
