<div class="modal-content">
  <div
    style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
    class="swiper modal"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="./images/appartment.png" />
      </div>
      <div class="swiper-slide">
        <img src="./images/appartment2.png" />
      </div>
      <div class="swiper-slide">
        <img src="./images/appartment3.png" />
      </div>
      <div class="swiper-slide">
        <img src="./images/appartment4.png" />
      </div>
      <div class="swiper-slide">
        <img src="./images/appartment5.png" />
      </div>
      <div class="swiper-slide">
        <img src="./images/appartment6.png" />
      </div>
    </div>
    <div class="big-button-next">{{svg("aside-chevron")}}</div>
    <div class="big-button-prev">{{svg("aside-chevron")}}</div>
    <button class="modal-content__button">{{svg("ivite__close")}}</button>
  </div>
</div>
