<header class="header">
  <div class="header__box">
    <button class="header__button-nav">
      <div class="header__icon"></div>
    </button>
  </div>
  <div class="header__wrapper">
    <div class="header__container">
      <h1 class="header__title">Shikra.</h1>
    </div>
    <div class="header__nav-box">
      <div class="header__input-box">
        <input class="header__input" placeholder="Search" />
        <button class="header__button-search">
          {{ svg('header-search') }}
        </button>
      </div>
      <button class="header__button">
        {{ svg('header-tune') }}
      </button>
    </div>
  </div>
</header>
