<div class="invite">
  <div class="invite__header">
    <div class="invite__wrapper">
      {{svg ("invite__group")}}
      <h5 class="invite__title">Invite Friends</h5>
    </div>
    <button class="invite__options">{{svg ("invite-tabs")}}</button>
  </div>
  <div class="invite__main">
    {{ user(modifired="user_nate", name="Nate", link="",
    img="./images/invite__nate.png")}} {{ user(modifired="user_jim", name="Jim",
    link="", img="./images/invite__jim.png")}} {{ user(modifired="user_angela",
    name="Angela", link="", img="./images/invite__angela.png")}} {{
    user(modifired="user_bhaaji", name="Bhaaji", link="",
    img="./images/invite__bhaaji.png")}} {{ user(modifired="user_billo",
    name="Billo", link="", img="./images/invite__billo.png")}} {{
    user(modifired="user_alex", name="Alex", link="",
    img="./images/invite__alex.png")}}
  </div>
</div>
